@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Press+Start+2P&family=Roboto&family=Roboto+Condensed&family=Sono:wght@500&family=Special+Elite&family=VT323&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

#mini-menu-container{
    display: none;
}

body{
    display: flex;
    min-height: 100vh;  
    text-align: center;
    background-color: lightgray;
}

p{   
    text-align: justify;
    font-weight: 500;
    margin-top: 1rem;
}

section header h1{
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
}

section{
    margin-bottom: 1rem;
}

#main-content{
    background-color: lightgray;
    width: 75%;
    min-width: 520px;
    margin-left: 25%;
    padding: 2rem;
}

.main-section{
    margin: 2rem;
}

#navbar{
    position: fixed;
    overflow-y: scroll;
    width:25%;
    min-width: 200px;
    background-color: lightgrey;
    height:100%;
    padding: 1rem;
}

nav ul li a{
    display: block;
    padding: 1rem;
}


#main-doc{
    background-color: aliceblue;
    padding: 1rem;
}

nav ul li{
    list-style-type: none;
    border: solid black 2px;
    margin: 1rem 0rem;
}

nav ul li:hover a{
    color: azure;
}

nav ul li:hover{
    background-color: grey;
}

section ul li{
    text-align: left;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link{
    text-decoration: none;
}

code{
    background-color: lightgrey;
    font-size: 1rem;
}

@media(width < 700px){ /*589px*/

    #mini-menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;
    }

    #mini-menu-heading{
        margin: 0;
        width: 100%;
        text-align: left;
        padding:0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .dropdown-button{
        width: 150px;
        padding:0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }


    .dropdown-container{
        margin: 0;
        position: relative;
    }

    .dropdown-menu{
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        top: 100%;
        background-color: lightgrey;
        box-shadow: 2px 2px 5px;
    }

    .dropdown-container:hover .dropdown-menu{
        display: flex;
    }

    .dropdown-menu  a{
        width: 150px;
        padding: 0.25rem 0.2rem;
        text-decoration: none;
        color: black;
    }

    .dropdown-menu > a:hover{
        background-color: grey;
    }

    body{
        flex-direction:  column;
    }

    #main-content{
        width: 100%;
        margin-left: 0;
        padding: 1rem;
    }
    
    #navbar{
        display: none;
    }
   
}