@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Press+Start+2P&family=Roboto&family=Roboto+Condensed&family=Sono:wght@500&family=Special+Elite&family=VT323&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;  
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: 500;
}

section header h1{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

section{
    margin-bottom: 1rem;
}

#main-content{
    background-color: lightgray;
    width: 75%;
    min-width: 520px;
    margin-left: 25%;
    padding: 2rem;
}

.main-section{
    margin: 2rem;
}

#sidebar{
    position: fixed;
    overflow-y: scroll;
    width:25%;
    min-width: 200px;
    background-color: lightgrey;
    height:100%;
    padding: 1rem;
}

nav ul li a{
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 1rem;
}

nav header h1{
    font-family: 'Roboto', sans-serif;
}

#main-doc{
    background-color: aliceblue;
    padding: 1rem;
}

nav ul li{
    list-style-type: none;
    border: solid black 2px;
    margin: 1rem 0rem;
}

nav ul li:hover a{
    color: azure;
}

nav ul li:hover{
    background-color: grey;
}

section ul li{
    text-align: left;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

code{
    background-color: lightgrey;
}

@media(max-width: 720px){

    body{
        flex-direction:  column;
    }

    #main-content{
        width: auto;
        margin-left: 0%;
        margin-top: 30vh;
        position: fixed;
        height: 70vh;
        overflow-y: scroll;
    }
    
    #sidebar{
        position: static;
        width: auto;
        height: 30vh;
    }
   
}